.carousel-inner{
  height: 30vw;
}
.container-fluid{
  background-color: #e5c9b2;
}
h2{
  margin-bottom: 0;
  margin-right: auto;
}
.cabecera{
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  align-items: center;
  justify-content: center;


}
.logo{
  padding: 2rem;
  width: 10rem;
  margin-right: auto;
}
.contacto{
  display: flex;
  align-items: center;
  gap: 10px;

  justify-content: center;
  flex-direction: column;
}
span{
  padding-top: 5px;
  color: darkblue;
}
.ubicacion{
  width: 100%;
  height: 100%;
}

