th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
table {
  border-spacing: 30px;
}
.icono {
  max-width: 90%;
}
.orilla{
  height: 15vh;
  width: 100%;
}

