<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input matInput [min]="minDate" [rangePicker]="picker">
      <! (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"->
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-hint>mm/dd/yyyy – mm/dd/yyyy</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>


  <button class="btn btn-primary" (click)="onSubmit()">Select</button>
</form>
<div class="container">
  <div class="card col-md-6 mx-3 card shadow p-3 mb-5 bg-grey rounded">
    <div class="card-body">
      <h3 class="card-title"> Ombreloni disponibile</h3>
      <div class="card-text">
        <ul>
          <div class="container" *ngIf="disponibili">
            <div *ngFor="let disponibile of disponibili">
              <li>{{disponibile.id}}<button class="btn btn-primary" (click)="makeBooking(disponibile,form)">Prenota</button></li>
            </div>
          </div>


        </ul>
      </div>
    </div>
  </div>
</div>

