<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input matInput [min]="minDate" [rangePicker]="picker">
      <! (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"->
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-hint>mm/dd/yyyy – mm/dd/yyyy</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button class="btn btn-primary" (click)="onSubmit()">Select</button><p>Il prezzo giornaliero dipende de la fila</p>
</form>

<div class="container-fluid">
  <div class="card col-md-12 mx-1 card shadow p-3 mb-5 bg-grey rounded">
    <div class="card-body">
      <h3 class="card-title"> Ombreloni disponibile</h3>
      <div class="card-text">
        <!--<table>
          <tr>
            <th>Fila</th>
            <th>Nº Ombrello</th>
            <th>Prezo Giornaliero</th>
            <th>Prezo Totale</th>
          </tr>
          <tr *ngFor="let disponibile of disponibili">
            <td>{{disponibile.fila}}</td>
            <td>{{disponibile.id}}</td>
            <td>{{disponibile.prize}}</td>
            <td>{{disponibile.totalPrize}}</td>
            <td><button class="btn btn-success" (click)="makeBooking(disponibile,form)">Prenota</button></td>
          </tr>
        </table> -->
        <div class="container-fluid p-1">
          <div class="row p-1">
            <div class="col-10">
              <img class="orilla" src="assets\photos\mar.webp">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[0].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[0],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[1].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[1],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[2].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[2],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[3].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[3],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[4].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[4],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[5].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[5],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[6].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[6],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[7].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[7],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[8].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[8],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[9].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[9],form)">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[10].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[10],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[11].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[11],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[12].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[12],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[13].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[13],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[14].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[14],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[15].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[15],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[16].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[16],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[17].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[17],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[18].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[18],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[19].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[19],form)">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[20].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[20],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[21].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[21],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[22].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[22],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[23].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[23],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[24].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[24],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[25].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[25],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[26].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[26],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[27].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[27],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[28].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[28],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[29].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[29],form)">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[30].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[30],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[31].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[31],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[32].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[32],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[33].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[33],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[34].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[34],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[35].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[35],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[36].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[36],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[37].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[37],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[38].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[38],form)">
            </div>
            <div class="col-1" [ngStyle]="{'background-color':ombreloni[39].backGroundColor}">
              <img class="icono" src="\assets\photos\icono.png" (click)="makeBooking(ombreloni[39],form)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

