
.icono {
  max-width: 90%;
}
.orilla{
  height: 15vh;
  width: 100%;
}

mat-form-field{
  width:90%;
}
.modale{
  position: fixed;
  width: 20rem;
  height: 20rem;
  background-color: #9fb4b4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  opacity: 0;
}
.modaleaperta{
  display: block;
  opacity: 1;
}
.modalHeader{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}
h2 {
  margin: auto;
}
.crossButton{
  justify-items: end;
}
#grid{
  display: none;
}
#table{
  display: none;
}
@media (max-width: 560px) {
  #table{
    display: block;
  }

  table{
    border-collapse: separate;
    border-spacing: 0 1rem;
  }
  .fila{
    margin-bottom: 50px;
  }
}
@media (min-width: 561px) {
  #grid{
    display: block;
  }
}

.dateInput{
  width: 100%;
}
