<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card col-12 card shadow p-1 mb-3 bg-grey rounded" style="width: 90%">
      <div class="card-body">
        <img class="card-img-top px-3" src="\assets\photos\lido1200x675.jpg">
        <div class="container-fluid text-center">
          <h2 class="card-title justify-content-center p-3">Seleziona le date della prenotazione</h2>
        </div>

        <p class="card-text"><app-calendar></app-calendar></p>
      </div>
    </div>
  </div>
</div>
