<app-navigation></app-navigation>
<div class="container justify-content-center">
  <div class="row">
    <div class="card col-md-5 card shadow p-3 mb-1 bg-grey rounded">
      <div class="card-body"></div>
      <div class="card-title">Seleziona data di inizio</div>
      <div class="card-text"><app-calendar></app-calendar></div>
    </div>
    <div class="card col-md-5 card shadow p-3 mb-1 bg-grey rounded">
      <div class="card-body"></div>
      <div class="card-title">Seleziona data di fine</div>
      <div class="card-text"><app-calendar></app-calendar></div>
    </div>
  </div>
</div>
