<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Il Gabbiano</a>
  <button class="navbar-toggler" type="button" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item active" *ngIf="isLogged">
        <a class="nav-link" routerLink="/calendar">Mare</a>
      </li>
      <li class="nav-item active" *ngIf="isLogged">
        <a class="nav-link" routerLink="/ristorante">Ristorante</a>
      </li>
      <li class="nav-item active ms-5 jutify-self-end" *ngIf="isLogged">
        <a class="nav-link" routerLink="/home" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

